.o3appban
  .o3inn
    %h2.o3inti
      だれでもかんたん、人生を変えるフリマアプリ
    %p.o3intex
      今すぐ無料ダウンロード！
    .o3inic
      = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class:"o3abtn"), "#"
      = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class:"o3abtn"), "#"

.o3footer
  %ul.o3conts
    %li.o3cont
      %h2.o3conhead
        FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", '#', class: "o3koumoku"
        %li
          = link_to "プライバシーポリシー", '#', class: "o3koumoku"              
        %li
          = link_to "FURIMA利用規約", '#', class: "o3koumoku"
        %li
          = link_to "ポイントに関する特約", '#', class: "o3koumoku"
    %li.o3cont
      %h2.o3conhead
        FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧", '#', class: "o3koumoku"
        %li
          = link_to "ブランド一覧", '#', class: "o3koumoku"
    %li.o3cont
      %h2.o3conhead
        ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", '#', class: "o3koumoku"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", '#', class: "o3koumoku"
        %li
          = link_to "お知らせ", '#', class: "o3koumoku"
  .o3logo
    %a
      = link_to image_tag("http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg", class:"o3footimg"), '#'
  %p.o3footfoot
    © FURIMA