.l-side
  %ul.nav-list
    %li
      = link_to "/users" do
        マイページ
    %li
      = link_to "" do
        お知らせ
    %li
      = link_to "" do
        いいね！一覧
    %li
      = link_to "" do
        出品する
    %li
      = link_to "" do
        下書き一覧
    %li
      = link_to "" do
        出品した商品 - 出品中
    %li
      = link_to "" do
        出品した商品 - 取引中
    %li
      = link_to "" do
        出品した商品 - 売却済み
    %li
      = link_to "" do
        購入した商品 - 取引中
    %li
      = link_to "" do
        購入した商品 - 過去の取引
    %li
      = link_to "" do
        ニュース一覧
    %li
      = link_to "" do
        評価一覧
    %li
      = link_to "" do
        ガイド
    %li
      = link_to "" do
        お問い合わせ
  %h3.nav-head 設定
  %ul.nav-list
    %li
      = link_to "" do
        プロフィール
    %li
      = link_to "" do
        発送元・お届け先住所変更
    %li
      = link_to "/users/credit_regist" do
        支払い方法
    %li
      = link_to "" do
        メール/パスワード
    %li
      = link_to "" do
        本人情報
    %li
      = link_to "" do
        電話番号の確認
    %li
      = link_to "/users/logout" do
        ログアウト
