.mypagemain
  = render 'users/side-navbar'
  .creditregist
    %h2.creditregist-head
      支払い方法
    .creditregist-inner
      .credit-list
        クレジットカード一覧
        = "**** **** **** " + @card.last4
        - exp_month = @card.exp_month.to_s
        - exp_year = @card.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          = link_to card_path, method: :delete, class: "destroy__function__link__btn" do 
            削除する
      .creditadd
        .creditadd-btn
          = link_to "クレジットカードを追加する", new_card_path
