%body
  .container
    .header
      %h1
        = link_to image_tag("http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"), '#'
    .main
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login
          .noaclogin
            %p
              アカウントをお持ちでない方はこちら
              = link_to "新規会員登録", new_user_path 
          .form
            .inlogin
              .logsubmit
                = link_to "#", class: "registration-btn btn-facebook" do
                  = icon('fa', 'facebook-square', class: "btn-icon")
                  Facebookでログインする
                / = link_to user_facebook_omniauth_authorize_path, method: :post, class: "registration-btn btn-facebook" do
                /   = icon('fa', 'facebook-square', class: "btn-icon")
                /   Facebookでログインする
                = link_to "#", class: "registration-btn btn-google" do
                  = icon('fa', 'google', class: "btn-icon")
                  Googleでログインする
                / = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "registration-btn btn-google" do
                /   = icon('fa', 'google', class: "btn-icon")
                /   Googleでログインする
              .guform
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "input_default", placeholder: "Eメールアドレス"
              .guform
                = f.password_field :password, autocomplete: "current-password", class: "input_default", placeholder: "パスワード"
              .logsubmit
                = f.submit "ログイン", class: "mslogin"
              = link_to "パスワードをお忘れの方", '#', class: "forget"
              
    .footer
      %nav
        %ul
          %li
            =link_to "プライバシーポリシー", '#'
          %li
            =link_to "利用規約", '#'
          %li
            =link_to "特定商取引に関する表記", '#'
        = link_to image_tag("http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"), '#'
      %p
        %small
          © FURIMA, Inc.
