.selmain
  = form_with model: @item, class: :form, local: true do |form|
    = render 'layouts/error_messages', model: form.object  
    %form.selmain-form
      .selmain-form_box
        .selimage
          .selimage-title
            %label 出品画像
            %span.required 必須
          %p 最大10枚までアップロードできます
          #previews
            - if @item.persisted?
              - @item.images.each_with_index do |image, i|
                = image_tag image.image.url, data: { index: i },class: 'tmpimg'
            
          .selimage-function
            .selimage-function_input
              %label.clkarea#image-box
                -# いったんコメントアウト。余裕があれば下記のデザインにイメージ添付機能を当てはめたい
                -# = form.fields_for :images do |i|
                -#   %input.clkarea-input.js-file{:type => 'file'}
                -#   = icon('fa', 'camera', class: 'clkarea-icon')
                -#   %p.clkarea-text クリックしてファイルをアップロード

                = form.fields_for :images do |i|
                  .js-file_group{"data-index" => "#{i.index}"}
                    = i.file_field :image ,:class => 'js-file'
                    %br/
                    .js-remove 削除
                -# 編集画面で新規画像を追加できるように添付ファイルフォームを追加
                - if @item.persisted?
                  .js-file_group{"data-index" => "#{@item.images.count}"}
                    = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
                    %br/
                    .js-remove 削除

          %p.selimage-error 入力してください
      %hr
      .selmain-form_box
        .selname
          .selname-title
            %label 商品名
            %span.required 必須
          .selname-function
            .selname-function_input
              = form.text_field :name, :placeholder => '40文字まで', :class => 'selname-text'
          %p.selname-error 入力してください
        .selspace
        .selname
          .selname-title
            %label 商品の説明
            %span.required 必須
          .selname-function
            .selname-function_input
              = form.text_area :explanation, :placeholder => '1,000文字以内', :class => 'selexplanation-text js-text'
              %p.js-text-count 0/1000
          %p.selexplanation-error 入力してください
      %hr
      .selmain-form_box
        .seldetail
          %p.seldetail-main 商品の詳細
          .seldetail-title
            %label カテゴリー
            %span.required 必須
          .seldetail-function
            .seldetail-function_input
              = form.select :category_id, Category.all.map { |category|[category.name, category.id] }, { include_blank: "選択して下さい", selected: @item.category_id }, { class: "selcategory-select" }
          %p.selcategory-error 選択してください
        -# ↓カテゴリによって表示する内容、ひとまず条件なしで表示
        .selspace
          .seldetail-title
            %label サイズ
            %span.required 必須
          .seldetail-function
            .seldetail-function_input
              = form.text_field :size, :placeholder => 'サイズ', :class => 'selname-text'
          %p.selcategory-error 入力して下さい
        .selspace
          .seldetail
          .seldetail-title
            %label ブランド
            %span.discretion 任意
          .seldetail-function
            .seldetail-function_input
              = form.text_field :brand_name, :placeholder => '例）シャネル', :class => 'selbrand-text'
        .selspace
        .seldetail
          .seldetail-title
            %label 商品の状態
            %span.required 必須
          .seldetail-function
            .seldetail-function_input
              -# = form.select :condition_id, Status.all.map { |status|[status.name, status.id] }, { include_blank: "選択して下さい", selected: @item.condition_id }, { class: "selstatus-select" }
              = form.select :condition_id, Condition.all.map { |status|[status.name, status.id] }, { include_blank: "選択して下さい", selected: @item.condition_id }, { class: "selstatus-select" }
          %p.selstatus-error 選択してください
      %hr
      .selmain-form_box
        .seldelovery
          %p.seldelovery-main 配送について？
          .seldelovery-title
            %label 配送料の負担
            %span.required 必須
          .seldelovery-function
            .seldelovery-function_input
              = form.select :delivery_fee_id, DeliveryFee.all.map { |status|[status.name, status.id] }, { include_blank: "選択して下さい", selected: @item.delivery_fee_id }, { class: "seldelfee-select" }
          %p.seldelfee-error 選択してください
        .selspace
        .seldelovery
          .seldelovery-title
            %label 発送元の地域
            %span.required 必須
          .seldelovery-function
            .seldelovery-function_input
              = form.select :prefecture_id, Prefecture.all.map { |status|[status.name, status.id] }, { include_blank: "選択して下さい", selected: @item.prefecture_id }, { class: "selshiori-select" }
          %p.selshiori-error 選択してください
        .selspace
        .seldelovery
          .seldelovery-title
            %label 発送までの日数
            %span.required 必須
          .seldelovery-function
            .seldelovery-function_input
              = form.select :delivery_day_id, DeliveryDay.all.map { |status|[status.name, status.id] }, { include_blank: "選択して下さい", selected: @item.delivery_day_id }, { class: "selshiori-select" }
          %p.selshiday-error 選択してください
      %hr
      .selmain-form_box
        .selprice
          %p.selprice-main 価格（¥300〜9,999,999）
          .selprice-title
            %label 販売価格
            %span.required 必須
          .selprice-function
            .selprice-function_input
              = form.text_field :price, :placeholder => '0', :class => 'selprice-text'
          %p.selprice-error 300以上9999999以下で入力してください
      %hr
      .selmain-form_box
        .selsubmit
          .selsubmit-button
            = form.submit @submit_btn[1], :class => 'selsubmit-button_sell'
            -# %input.selsubmit-button_sell{type: "submit", value: "出品する"} 
            -# = form.submit '下書きに保存', :class => 'selsubmit-button_save'
            -# %input.selsubmit-button_save{type: "submit", value: "下書きに保存"} 
            - if @submit_btn[0] == 'edit'
              = link_to '商品を削除する', item_path, method: :delete , :class => 'selsubmit-button_delete'
            -# 前回画面にもどる
            = link_to :back, class: "selsubmit-button_back" do
              もどる
