.body
  .purchase-main
    .purchase-box
      %h2.purchase-ttl
        購入内容の確認
      .item-cont
        .image
          = image_tag @item.images.first.image.url
        .details
          .item-name
            商品の名前
            %p.price
              = @item.name

      .price-cont
        .price-left
          支払い金額
        .price-right
          = @item.price
          円

      .payment-cont
        %h3.payment-left
          .payment-method
            支払い方法：クレジットカード
            .card-info
            - if Card.where(user: current_user).exists?
              .card-num
                = "**** **** **** " + "#{@card.last4}"
              .expiration-date
                有効期限
                = @card.exp_month
                = @card.exp_year
            - else     
              = link_to new_card_path, class: "" do
                クレジットカード登録
        .payment-right
          -# = link_to "変更する", "#", calss:"update-btn"
          
            
      .deliveryDestination-cont
        %h3.deliveryDestination-left
          配送先
          .postalcode
            = "〒#{Address.find_by(user: current_user).postal_code.to_s.insert(3, "-")}"
          .address
            = Address.find_by(user: current_user).prefecture.name
            = Address.find_by(user: current_user).city
            = Address.find_by(user: current_user).house_name
              - unless Address.find_by(user: current_user).house_number == nil
              = Address.find_by(user: current_user).house_number
          .username
            = current_user.first_name
            = current_user.last_name
        .deliveryDestination-right
          -# = link_to "変更する", "#", calss:"update-btn"

      .purchase-btn
        - if Card.where(user: current_user).exists?
          .submit-btn        
            = link_to pay_item_path(@item), class: "" do
              購入を確定する
        - else
          .submit-btn        
            = link_to new_card_path, class: "" do
              クレジットカード登録
        