.main
  .content
    .left
    .right
      .top
        .item
          %h2.item-name
            = @item.name
          .item-body
            %ul
              %li
                - @item.images.each do |img|
                  = image_tag img.image.url
                  
                -# = image_tag src="https://www.ashikagagourmet.com/wp-content/uploads/2013/05/cc5990f7bf95e48d9eeb9f9d6629728e-550x400.jpg"
                %ul
                  %li
                    = image_tag src="https://tyoumiryouuriba.up.seesaa.net/image/IMG_4686.JPG", size: "75x75"
                  %li
                    = image_tag src="https://www.ashikaga-kankou.jp/files/topics/276_ext_08_0.jpg", size: "75x75"
                  %li
                    = image_tag src="https://media-cdn.tripadvisor.com/media/photo-s/0e/77/86/65/caption.jpg", size: "75x75"
          .item-price
            %span.o3detail
              = @item.price
              %span.o3en
                円
            .item-price_detail
              %span.o3zei
                (税込)
              %span.o3komi
                送料込み
          .idetail
            = @item.explanation
          .table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    = @item.user.name
                %tr
                  %th
                    カテゴリー
                  %td
                    = render "category"
                    -# %a
                    -#   = link_to @item.category.name, '#'
                    -# %br
                    -# %a
                    -# = link_to "ジャケット/アウター", '#'
                    -# %br
                    -# %a
                    -# = link_to "ノーカラージャケット", '#'
                %tr
                  %th
                    ブランド
                  %td
                    = @item.brand_name
                %tr
                  %th
                    商品のサイズ
                  %td
                    = @item.size
                %tr
                  %th
                    商品の状態
                  %td
                    = @item.condition.name
                %tr
                  %th
                    配送料の負担
                  %td
                    = @item.delivery_fee.name
                %tr
                  %th
                    配送元の地域
                  %td
                    %a
                      = @item.prefecture.name
                %tr
                  %th
                    発送日の目安
                  %td
                    = @item.delivery_day.name
          .option
            %ul
              %li.opbtn.libtn
                %i.fa.fa-star
                  お気に入り 9973               
            %ul.optional
              %li.opbtn
                = link_to '#' do
                  =fa_icon "flag"
                  不適切な商品の通報
        .comment
          %ul.ccontents
          %form.ncomment
            %textarea
            %p.notice
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
            %button.cobtn
              %i.fa.fa-comment
                コメントする
      %ul.links
        %li.leftli
          = link_to '#' do
            =fa_icon "angle-left"
            前の商品
        %li.rightli
          = link_to '#' do
            後ろの商品
            =fa_icon "angle-right"
      .related
        %a
          = link_to "メンズをもっと見る", '#'
        .productli