.main
  .content
    .left
    .right
      .top
        .item
          %h2.item-name
            = @item.name
          .item-body
            %ul
              %li
                = image_tag @item.images.first.image.url, class: "o3mainimg"
                %ul.o3imglists
                  - @item.images.each do |img|
                    %li.o3img10
                      = image_tag img.image.url, class: "o3imglist"
          .item-price
            %span.o3detail
              = @item.price
              %span.o3en
                円
            .item-price_detail
              %span.o3zei
                (税込)
              %span.o3komi
                送料込み
          .idetail
            = @item.explanation
          .table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    = @item.user.name
                %tr
                  %th
                    カテゴリー
                  %td
                    = @item.category.parent.parent.name
                    %br
                    = @item.category.parent.name
                    %br
                    = @item.category.name
                %tr
                  %th
                    ブランド
                  %td
                    = @item.brand_name
                %tr
                  %th
                    商品のサイズ
                  %td
                    = @item.size
                %tr
                  %th
                    商品の状態
                  %td
                    = @item.condition.name
                %tr
                  %th
                    配送料の負担
                  %td
                    = @item.delivery_fee.name
                %tr
                  %th
                    配送元の地域
                  %td
                    = @item.prefecture.name
                %tr
                  %th
                    発送日の目安
                  %td
                    = @item.delivery_day.name
          - if current_user == @item.user
            = link_to edit_item_path, class: "o3btninedit", data: {"turbolinks" => false} do
              商品の情報を編集する
          - else
            = link_to items_path, class: "o3btninbuy" do
              この商品を購入する
          .option
            %ul
              %li.opbtn.libtn
                %i.fa.fa-star
                  お気に入り 9973               
            %ul.optional
              %li.opbtn
                = link_to '#' do
                  =fa_icon "flag"
                  不適切な商品の通報
        .comment
          %ul.ccontents
          %form.ncomment
            %textarea
            %p.notice
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
            %button.cobtn
              %i.fa.fa-comment
                コメントする
      %ul.links
        %li.leftli
          = link_to '#' do
            =fa_icon "angle-left"
            前の商品
        %li.rightli
          = link_to '#' do
            後ろの商品
            =fa_icon "angle-right"
      .related
        %a
          = link_to "メンズをもっと見る", '#'
        .productli