%header.xxel
  .caxl
    .seou
      .ewwr
        %a.fmwa
          = link_to root_path do
            = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", class: "fmwa-img"
      %form.iklw
        %input.hubx{placeholder:"探し物は何ですか？"}
        %button.flds
          =fa_icon "search"
    .jpcs
      .jezi
        .iviz
          = link_to categories_path, class: 'juqf' do
            =fa_icon "bars"
            %svg.fknb
            カテゴリーから探す          
        .iviz
          %a.juqf
            =fa_icon "tag"
            %svg.rnbr
            ブランドから探す
      .ftie
        - if user_signed_in?
          = link_to 'マイページ', users_path, class: 'hleh'
          = link_to 'ログアウト', logout_users_path, class: 'davx'
        - else
          = link_to '新規会員登録', new_user_registration_path, class: 'hleh'
          = link_to 'ログイン', new_user_session_path, class: 'davx'